version: '3.8'

services:
  postgres:
    image: postgres:16
    container_name: lobi-postgres
    restart: always
    volumes:
      - db_data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}

  backend:
    #build: ./ #use this for running on your local machine and comment the next line
    image: ${DOCKERHUB_USERNAME}/lobi-backend:${DEPLOY_TAG}
    container_name: lobi-backend
    restart: always
    environment:
      SPRING_DATASOURCE_URL: ${SPRING_DATASOURCE_URL}
      SPRING_DATASOURCE_USERNAME: ${SPRING_DATASOURCE_USERNAME}
      SPRING_DATASOURCE_PASSWORD: ${SPRING_DATASOURCE_PASSWORD}
    ports:
      - "${BACKEND_PORT}:8080"
    depends_on:
      - postgres

  nginx:
    image: nginx:alpine
    container_name: lobi-nginx
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - backend

volumes:
  db_data:

networks:
  lobi-net:
